<!DOCTYPE html>
<html>
	<head>
		<title>Zoogle</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body> 
		<img src="static/logo.png">
		<h1>welcome to our zoogle page where you can search for any interesting method/classes!</h1>

	</body>
	<!-- {% extends "index.html" %}
	{% block content %}
	<div class="search">
	<form method=post>
	    <input type=text name=search value="{{ request.form.search}}"></br>
	    <div class="actions"><input type=submit value="Search"></div>
	</form>
	</div>
	{% for message in get_flashed_messages() %}
	<div class=flash>
	    {{ message }}
	</div>
	{% endfor %}
	{% endblock %}
-->

</html>